<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<?define DgzAIO_TargetDir=$(var.DgzAIO.TargetDir)?>
	<Product Id="*" Name="DgzAIO" Language="1033" Version="1.0.0.0" Manufacturer="Datagaze LLC" UpgradeCode="5D3D5F89-6BE8-478D-B0E7-7D9D73251846">
		<Package Description="Test file in a Product" Comments="Simple test" InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
		<Property Id="MSICACHEORIGINALPACKAGE" Value="1" />
		<Property Id="MsiLogging" Value="voicewarmup" />
		<Property Id="ARPPRODUCTICON" Value="agentIcon" />
		
		<Binary Id="CustomActionDLL" SourceFile="..\CustomAction_uninstall\bin\Release\CustomAction_uninstall.CA.dll" />

		<CustomAction Id="RunCustomAction" BinaryKey="CustomActionDLL" DllEntry="CustomAction_uninstall" Execute="deferred" Return="check" Impersonate="no" />

		<InstallExecuteSequence>
			<Custom Action="RunCustomAction" Before="RemoveFiles">REMOVE="ALL"</Custom>
		</InstallExecuteSequence>
		<Media Id="1" Cabinet="simple.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="DgzAIO">

					<Component Id="CleanupComponent" Guid="{88432D84-0665-47BE-96D5-627D69889D32}">
						<CreateFolder Directory="INSTALLFOLDER" />
						<RemoveFile Id="RemoveAllFiles" Name="*.*" On="uninstall" Directory="INSTALLFOLDER" />
						<RemoveFolder Id="RemoveInstallFolder" On="uninstall" Directory="INSTALLFOLDER" />
					</Component>

					<Component Id="RegistryComponent" Guid="{74178BB3-C00B-4D62-BAA7-1D27F4C5DCC7}">
						<RegistryKey Root="HKLM" Key="SOFTWARE\Datagaze\DLP" Action="createAndRemoveOnUninstall">
							<RegistryValue Name="guid" Type="string" Value="[ProductCode]" KeyPath="yes" />
						</RegistryKey>
					</Component>

					<Component Id="RegistryUninstall" Guid="{A1B2C3D4-E5F6-7890-ABCD-1234567890EF}">
						<RegistryKey Root="HKLM" Key="SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\[ProductCode]"
									 Action="createAndRemoveOnUninstall">
							<RegistryValue Name="DisplayName" Type="string" Value="DgzAIO" />
							<RegistryValue Name="Publisher" Type="string" Value="Dgz LLC" />
							<RegistryValue Name="DisplayVersion" Type="string" Value="[ProductVersion]" />
							<RegistryValue Name="InstallSource" Type="string" Value="[SourceDir]" />
							<RegistryValue Name="InstallLocation" Type="string" Value="[INSTALLFOLDER]" />
							<RegistryValue Name="UninstallString" Type="string" Value="MsiExec.exe /x[ProductCode]" />
							<RegistryValue Name="NoModify" Type="integer" Value="1" />
							<RegistryValue Name="NoRepair" Type="integer" Value="1" />
							<RegistryValue Name="EstimatedSize" Type="integer" Value="10240" />
						</RegistryKey>
					</Component>

					<Component Id="DgzAIOServiceComponent" Guid="A3BB6943-C53E-4CC7-BB5C-EF98F915AE50">
						<File Id="DgzAIOServiceExe" Name="DgzAIOWindowsService.exe" Source="$(var.OutputDir)\bin\Release\DgzAIOWindowsService.exe" />
						<ServiceInstall Id="DgzAIOServiceInstaller"
										Name="DgzAIOService"
										DisplayName="DgzAIO Windows Service"
										Description="DgzAIO xizmatlari uchun Windows Service"
										Start="auto" Type="ownProcess"
										Account="LocalSystem"
										ErrorControl="normal" />
						<ServiceControl Id="StartDgzAIOService"
										Name="DgzAIOService"
										Start="install"
										Stop="both"
										Remove="uninstall"
										Wait="yes" />
					</Component>
					<Component Id="APICLIENT.DLL" DiskId="1" Guid="6D679523-62D8-4809-B6F3-73FDAB9BCEC4">
					<File Id="APICLIENT.DLL" Name="ApiClient.dll" Source="$(var.OutputDir)\bin\Release\ApiClient.dll" />
				</Component>
				<Component Id="APPLICATIONMONITOR.DLL" DiskId="1" Guid="F695E9FF-7676-482D-84B9-36D551894778">
					<File Id="APPLICATIONMONITOR.DLL" Name="ApplicationMonitor.dll" Source="$(var.OutputDir)\bin\Release\ApplicationMonitor.dll" />
				</Component>
				<Component Id="COMPUTERINFORMATION.DLL" DiskId="1" Guid="D2504DA3-46A4-41E7-B7B9-0588904050C8">
					<File Id="COMPUTERINFORMATION.DLL" Name="ComputerInformation.dll" Source="$(var.OutputDir)\bin\Release\ComputerInformation.dll" />
				</Component>
				<Component Id="CUSTOMACTION_UNINSTALL.DLL" DiskId="1" Guid="039EF4F6-0B5E-4D1A-81BD-E098B3A6B823">
					<File Id="CUSTOMACTION_UNINSTALL.DLL" Name="CustomAction_uninstall.dll" Source="$(var.OutputDir)\bin\Release\CustomAction_uninstall.dll" />
				</Component>
				<Component Id="DBHELPER.DLL" DiskId="1" Guid="F0B8BF13-273E-469D-9A73-E29919F6F9EE">
					<File Id="DBHELPER.DLL" Name="DBHelper.dll" Source="$(var.OutputDir)\bin\Release\DBHelper.dll" />
				</Component>
				<Component Id="DGZAIO.EXE" DiskId="1" Guid="CEF6BECA-357D-483F-886F-F3DF2AEE77F8">
					<File Id="DGZAIO.EXE" Name="DgzAIO.exe" Source="$(var.OutputDir)\bin\Release\DgzAIO.exe" />
				</Component>
				<Component Id="DGZAIO.EXE.CONFIG" DiskId="1" Guid="FDDE0B01-5233-44FA-9EC8-55266977BAB9">
					<File Id="DGZAIO.EXE.CONFIG" Name="DgzAIO.exe.config" Source="$(var.OutputDir)\bin\Release\DgzAIO.exe.config" />
				</Component>
				<Component Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" DiskId="1" Guid="FE3E208E-8DA2-4159-BBC4-9C91EBDEF082">
					<File Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" Name="DgzAIOWindowsService.exe.config" Source="$(var.OutputDir)\bin\Release\DgzAIOWindowsService.exe.config" />
				</Component>
				<Component Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" DiskId="1" Guid="60FF0D94-4B1A-4060-81C8-C15739206F10">
					<File Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" Name="Microsoft.Bcl.AsyncInterfaces.dll" Source="$(var.OutputDir)\bin\Release\Microsoft.Bcl.AsyncInterfaces.dll" />
				</Component>
				<Component Id="MICROSOFT.DEPLOYMENT.WINDOWSINSTALLER.DLL" DiskId="1" Guid="08F19687-643F-4F40-A258-77D2345108A2">
					<File Id="MICROSOFT.DEPLOYMENT.WINDOWSINSTALLER.DLL" Name="Microsoft.Deployment.WindowsInstaller.dll" Source="$(var.OutputDir)\bin\Release\Microsoft.Deployment.WindowsInstaller.dll" />
				</Component>
				<Component Id="NEWTONSOFT.JSON.DLL" DiskId="1" Guid="FCCE1E51-D78D-4360-A7D3-A55AE1CA89B2">
					<File Id="NEWTONSOFT.JSON.DLL" Name="Newtonsoft.Json.dll" Source="$(var.OutputDir)\bin\Release\Newtonsoft.Json.dll" />
				</Component>
				<Component Id="SOCKETCLIENT.DLL" DiskId="1" Guid="5BA1F0AE-A563-432E-9271-874D5CBEF8B1">
					<File Id="SOCKETCLIENT.DLL" Name="SocketClient.dll" Source="$(var.OutputDir)\bin\Release\SocketClient.dll" />
				</Component>
				<Component Id="SOCKETIO.CORE.DLL" DiskId="1" Guid="BC317732-D80A-45F4-9A86-2084C7897F85">
					<File Id="SOCKETIO.CORE.DLL" Name="SocketIO.Core.dll" Source="$(var.OutputDir)\bin\Release\SocketIO.Core.dll" />
				</Component>
				<Component Id="SOCKETIO.SERIALIZER.CORE.DLL" DiskId="1" Guid="1D5EF6E7-FA96-498C-9995-AE3BE12813D5">
					<File Id="SOCKETIO.SERIALIZER.CORE.DLL" Name="SocketIO.Serializer.Core.dll" Source="$(var.OutputDir)\bin\Release\SocketIO.Serializer.Core.dll" />
				</Component>
				<Component Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" DiskId="1" Guid="B5C7FF33-3D27-4BCB-BBF1-BCC2964A1AEF">
					<File Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" Name="SocketIO.Serializer.SystemTextJson.dll" Source="$(var.OutputDir)\bin\Release\SocketIO.Serializer.SystemTextJson.dll" />
				</Component>
				<Component Id="SOCKETIOCLIENT.DLL" DiskId="1" Guid="BB4533EA-FD6E-4854-8D57-482C2D7764D4">
					<File Id="SOCKETIOCLIENT.DLL" Name="SocketIOClient.dll" Source="$(var.OutputDir)\bin\Release\SocketIOClient.dll" />
				</Component>
				<Component Id="SYSTEM.BUFFERS.DLL" DiskId="1" Guid="3FC0EE21-4044-4451-8D16-2E5BC7666D31">
					<File Id="SYSTEM.BUFFERS.DLL" Name="System.Buffers.dll" Source="$(var.OutputDir)\bin\Release\System.Buffers.dll" />
				</Component>
				<Component Id="SYSTEM.DATA.SQLITE.DLL" DiskId="1" Guid="9F81D8E3-F3A3-4E37-8118-795E62C14494">
					<File Id="SYSTEM.DATA.SQLITE.DLL" Name="System.Data.SQLite.dll" Source="$(var.OutputDir)\bin\Release\System.Data.SQLite.dll" />
				</Component>
				<Component Id="SYSTEM.IO.PIPELINES.DLL" DiskId="1" Guid="58D8B393-B043-426E-8FEF-1E065C8C6009">
					<File Id="SYSTEM.IO.PIPELINES.DLL" Name="System.IO.Pipelines.dll" Source="$(var.OutputDir)\bin\Release\System.IO.Pipelines.dll" />
				</Component>
				<Component Id="SYSTEM.MEMORY.DLL" DiskId="1" Guid="B5F967BC-6489-472A-B3DC-0DA4D1F2013D">
					<File Id="SYSTEM.MEMORY.DLL" Name="System.Memory.dll" Source="$(var.OutputDir)\bin\Release\System.Memory.dll" />
				</Component>
				<Component Id="SYSTEM.NUMERICS.VECTORS.DLL" DiskId="1" Guid="987DF752-0F55-4111-B67E-F8EB40E4730F">
					<File Id="SYSTEM.NUMERICS.VECTORS.DLL" Name="System.Numerics.Vectors.dll" Source="$(var.OutputDir)\bin\Release\System.Numerics.Vectors.dll" />
				</Component>
				<Component Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" DiskId="1" Guid="C74651D7-041F-4018-9F06-699A5BD73052">
					<File Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" Name="System.Runtime.CompilerServices.Unsafe.dll" Source="$(var.OutputDir)\bin\Release\System.Runtime.CompilerServices.Unsafe.dll" />
				</Component>
				<Component Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" DiskId="1" Guid="58D90948-7031-4A0C-8F83-920DF1BDC26A">
					<File Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" Name="System.Text.Encodings.Web.dll" Source="$(var.OutputDir)\bin\Release\System.Text.Encodings.Web.dll" />
				</Component>
				<Component Id="SYSTEM.TEXT.JSON.DLL" DiskId="1" Guid="A04E7DF5-FD15-45DD-A9C3-49C250E482D7">
					<File Id="SYSTEM.TEXT.JSON.DLL" Name="System.Text.Json.dll" Source="$(var.OutputDir)\bin\Release\System.Text.Json.dll" />
				</Component>
				<Component Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" DiskId="1" Guid="B574D149-3886-448C-85AE-F36197EC9CFA">
					<File Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" Name="System.Threading.Tasks.Extensions.dll" Source="$(var.OutputDir)\bin\Release\System.Threading.Tasks.Extensions.dll" />
				</Component>
				<Component Id="SYSTEM.VALUETUPLE.DLL" DiskId="1" Guid="F4CA401F-9920-4F0B-8941-BAC07DB7B067">
					<File Id="SYSTEM.VALUETUPLE.DLL" Name="System.ValueTuple.dll" Source="$(var.OutputDir)\bin\Release\System.ValueTuple.dll" />
				</Component>
				<Component Id="UPDATEMAKER.EXE" DiskId="1" Guid="DBA19188-123A-4C60-8E4E-F00AC86896A7">
					<File Id="UPDATEMAKER.EXE" Name="UpdateMaker.exe" Source="$(var.OutputDir)\bin\Release\UpdateMaker.exe" />
				</Component>
				<Component Id="UPDATEMAKER.EXE.CONFIG" DiskId="1" Guid="9C860A4F-B0CF-4F0B-886E-D007024A323B">
					<File Id="UPDATEMAKER.EXE.CONFIG" Name="UpdateMaker.exe.config" Source="$(var.OutputDir)\bin\Release\UpdateMaker.exe.config" />
				</Component>
				<Directory Id="X64" Name="x64">
					<Component Id="SQLITE.INTEROP.DLL" DiskId="1" Guid="409D4FC0-AA78-41A6-9DDD-4AEBCEC0A311">
						<File Id="SQLITE.INTEROP.DLL" Name="SQLite.Interop.dll" Source="$(var.OutputDir)\bin\Release\x64\SQLite.Interop.dll" />
					</Component>
				</Directory>
				<Directory Id="X86" Name="x86">
					<Component Id="SQLITE.INTEROP.DLL_1" DiskId="1" Guid="72D8B73F-5277-44CF-9054-6BBDC20F7252">
						<File Id="SQLITE.INTEROP.DLL_1" Name="SQLite.Interop.dll" Source="$(var.OutputDir)\bin\Release\x86\SQLite.Interop.dll" />
					</Component>
				</Directory>
				</Directory>
				<Directory Id="ILLink" Name="ILLink" />
			</Directory>
		</Directory>
		<Feature Id="DefaultFeature" Title="Main Feature" Level="1">
			<ComponentRef Id="CleanupComponent" />
			<ComponentRef Id="DgzAIOServiceComponent" />
			<ComponentRef Id="RegistryComponent" />
			<ComponentRef Id="RegistryUninstall" />
			<ComponentRef Id="APICLIENT.DLL" />
			<ComponentRef Id="APPLICATIONMONITOR.DLL" />
			<ComponentRef Id="COMPUTERINFORMATION.DLL" />
			<ComponentRef Id="CUSTOMACTION_UNINSTALL.DLL" />
			<ComponentRef Id="DBHELPER.DLL" />
			<ComponentRef Id="DGZAIO.EXE" />
			<ComponentRef Id="DGZAIO.EXE.CONFIG" />
			<ComponentRef Id="DGZAIOWINDOWSSERVICE.EXE.CONFIG" />
			<ComponentRef Id="MICROSOFT.BCL.ASYNCINTERFACES.DLL" />
			<ComponentRef Id="MICROSOFT.DEPLOYMENT.WINDOWSINSTALLER.DLL" />
			<ComponentRef Id="NEWTONSOFT.JSON.DLL" />
			<ComponentRef Id="SOCKETCLIENT.DLL" />
			<ComponentRef Id="SOCKETIO.CORE.DLL" />
			<ComponentRef Id="SOCKETIO.SERIALIZER.CORE.DLL" />
			<ComponentRef Id="SOCKETIO.SERIALIZER.SYSTEMTEXTJSON.DLL" />
			<ComponentRef Id="SOCKETIOCLIENT.DLL" />
			<ComponentRef Id="SYSTEM.BUFFERS.DLL" />
			<ComponentRef Id="SYSTEM.DATA.SQLITE.DLL" />
			<ComponentRef Id="SYSTEM.IO.PIPELINES.DLL" />
			<ComponentRef Id="SYSTEM.MEMORY.DLL" />
			<ComponentRef Id="SYSTEM.NUMERICS.VECTORS.DLL" />
			<ComponentRef Id="SYSTEM.RUNTIME.COMPILERSERVICES.UNSAFE.DLL" />
			<ComponentRef Id="SYSTEM.TEXT.ENCODINGS.WEB.DLL" />
			<ComponentRef Id="SYSTEM.TEXT.JSON.DLL" />
			<ComponentRef Id="SYSTEM.THREADING.TASKS.EXTENSIONS.DLL" />
			<ComponentRef Id="SYSTEM.VALUETUPLE.DLL" />
			<ComponentRef Id="UPDATEMAKER.EXE" />
			<ComponentRef Id="UPDATEMAKER.EXE.CONFIG" />
			<ComponentRef Id="SQLITE.INTEROP.DLL" />
			<ComponentRef Id="SQLITE.INTEROP.DLL_1" />
		</Feature>
		<UI />
	</Product>
</Wix>